:root {
  --page-color: #fde7d0;
  --notebook-color: #a6bfdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
body {
  background-image: url(/Images/wooden\ background.png);
  background-size: cover;
  height: 100%;
}
.polaroid {
  background-color: white;
  width: 300px;
  height: 350px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}
.polaroidImg{
    margin-top: 10px;
}
#picturesContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 238, 212, 0.0);
  width: 20%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

#notebookCointainer {
  background-color: rgba(20, 107, 206, 0.0);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#notebook {
  width: 1100px;
  height: 700px;
  background-image: url(/Images/Cuaderno.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.page-wrapper {
  background-color: var(--page-color);
  border-radius: 20px;
}
#page-wrapper-1 {
  width: 1080px;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-wrapper-2 {
  width: 1060px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.page {
  width: 520px;
  height: 100%;
  background-color: var(--page-color);
}
#page-1 {
  border-radius: 20px 0px 0px 20px;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), inset -4px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-2 {
  border-radius: 0px 20px 20px 0px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25), inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}
#book-polaroid{
    width: 446px;
    height: 258px;
    margin-top: 20px;
}
#img-gen{
    width: 426px;
    height: 220px;
    background-color: black;
}